@using MoviesTime.Contract.Models;
@model IEnumerable<Users>
@{
    ViewData["Title"] = "Movie List";
}

<h2>My Movies List</h2>
<table class="table"> 
    <thead>
        <tr>
            <th>
                    User ID
            </th>
            <th>
                    Username
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach(var item in Model)
        {
            <tr>
                <td>
                    @item.UserID
                </td>
                <td>
                    @item.Username
                </td>
                <td>
                    @(item.IsAdmin == true ? "Admin" : "Customer")
                </td>
            </tr>
        }
    </tbody>
</table>
<p>Hello from our My view Template!</p>