@using MoviesTime.Contract.ViewModels;
@model ManageTheaterScreensViewModel

<div class="container mx-2 pt-3">
    <form method="post">
        <legend> @(Model.selectedTheaterID == 0 ? "Select a Theater" : "Theater Screen Details")</legend>
        <div class="form-group row mx-1">
            <div class="col-md-4 row pt-md-2 mx-1">
                <label class="col-md-4 col-form-label" asp-for="selectedTheaterID">Theater Name</label>
                <div class="col-md-8">
                    <select asp-items="Model.selectTheaterList" asp-for="selectedTheaterID" class="form-select"></select>
                </div>
            </div>
            <div class="text-center">
                <button type="SubmitAction" asp-action="GetTheaterScreens" class="btn btn-primary">Search</button>
            </div>
        </div>
        
    </form>
</div>
